/* App.css */
.App {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

/* Assicurati che il Canvas occupi l'intero spazio */
.App > canvas {
  width: 100%;
  height: 100%;
  display: block;
}